{% extends "base.html" %}

{% block content %}

<div class="entries">
    <h4>Saved Documents</h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="15%"><strong>Date</strong></th>
          <th width="25%"><strong>Filename</strong></th>
          <th width="50%"><strong>Description</strong></th>
          <th width="10%"><strong>Delete</strong></th>
        </tr>
      </thead>
      {% for document in object_list %}
        <tr style="{% cycle 'background: white' 'background: #F0F0F0' %}">
            <td>{{ document.uploaded_date }}</td>
            <td><a href="{% get_media_prefix %}{{ document.filename }}" target="_blank">{{ document.shorten_filename }}</a></td>
            <td>{{ document.description }}</td>
            <td><a href="{% url 'invoice_attachment_app:invoice_attachment_delete' pk=document.pk %}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br>
<a href="{% url 'invoice_attachment_app:invoice_attachment_upload' invoice_id=invoice_id %}" class="btn btn-sm btn-success"
   role="button">Add Document</a>
<a href="{% url 'invoice_app:invoice_detail' pk=invoice_id %}" class="btn btn-sm btn-info" role="button">Return to Invoice</a>

{% endblock content %}