{% extends "base.html" %}

{% block content %}

<strong>{{ invoiced_party.first_name }} {{ invoiced_party.last_name }} - {{ object.description|upper }} </strong><br>
Invoice Created: {{ object.created_date }}<br><br>
<a href="{% url 'invoice_app:invoice_update' pk=invoice.pk %}" class="btn btn-sm btn-info">Edit Description</a>
<a href="{% url 'customer_app:customer_detail' pk=invoiced_party.pk %}" class="btn btn-sm btn-default">Return to Customer</a>


<br><br>

<div class="entries">
  <h4><strong>{{ invoicing_party.first_name }} Items</strong>
    <a href="{% url 'invoice_item_app:invoice_item_create' invoice=invoice.pk is_invoicing_party='True' %}" class="btn btn-sm btn-success">Add</a>
  </h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="60%"><strong>Description</strong></th>
          <th style="text-align:center" width="10%"><strong>Edit</strong></th>
          <th style="text-align:center" width="10%"><strong>Delete</strong></th>
          <th style="text-align:right" width="10%"><strong>Cost</strong></th>
        </tr>
      </thead>
      {% for item in invoicing_items %}
      <tr style="{% cycle 'background: white' 'background: #F0F0F0' %}">
          <td>{{ item.description }}</td>
          <td style="text-align:center"><a href="{% url 'invoice_item_app:invoice_item_update' pk=item.id %}">Edit</a></td>
          <td style="text-align:center"><a href="{% url 'invoice_item_app:invoice_item_delete' pk=item.id %}">Delete</a></td>
          <td style="text-align:right">{{ item.cost|floatformat:2 }}</a></td>
      </tr>
      {% endfor %}

      <thead>
      <tr>
          <th colspan="3" width="75px" style="background:gray"><strong>Total Paid By {{ invoicing_party.first_name }}</strong></th>
          <th style="text-align:right; background:gray"><strong>${{ invoicing_items_total|floatformat:2 }}</strong></th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<br><br>

<div class="entries">
  <h4><strong>{{ invoiced_party.first_name }} Items </strong>
    <a href="{% url 'invoice_item_app:invoice_item_create' invoice=invoice.pk is_invoicing_party='False' %}" class="btn btn-sm btn-success">Add</a>
  </h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="60%"><strong>Description</strong></th>
          <th style="text-align:center" width="10%"><strong>Edit</strong></th>
          <th style="text-align:center" width="10%"><strong>Delete</strong></th>
          <th style="text-align:right"width="10%"><strong>Cost</strong></th>
        </tr>
      </thead>
      {% for item in invoiced_items %}
      <tr style="{% cycle 'background: white' 'background: #F0F0F0' %}">
          <td>{{ item.description }}</td>
          <td style="text-align:center"><a href="{% url 'invoice_item_app:invoice_item_update' pk=item.id %}">Edit</a></td>
          <td style="text-align:center"><a href="{% url 'invoice_item_app:invoice_item_delete' pk=item.id %}">Delete</a></td>
          <td style="text-align:right">{{ item.cost|floatformat:2  }}</td>
      </tr>
      {% endfor %}

      <thead>
      <tr>
          <th colspan="3" width="75px" style="background:gray"><strong>Total Paid By {{ invoiced_party.first_name }}</strong></th>
          <th style="text-align:right; background:gray"><strong>${{ invoiced_items_total|floatformat:2 }}</strong></th>
      </tr>
      </thead>

    </table>
  </div>
</div>


<br>

    <a href="{% url 'pdf_app:pdf_view_invoice' invoice_id=invoice.pk %}" target="_blank" class="btn btn-sm btn-info"
       role="button">View Invoice</a>

    <a href="{% url 'pdf_app:pdf_save_invoice' invoice_id=invoice.pk %}" class="btn btn-sm btn-info"
       role="button">Save Invoice</a>

{% endblock content %}