{% extends "base.html" %}

{% block content %}

{% include 'q_search_form.html' %}
<br>

<h4 class="entries">
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="20%"><strong>Created Date</strong></th>
          <th width="30%"><strong>Customer</strong></th>
          <th width="50%"><strong>Description</strong></th>
        </tr>
      </thead>
      {% for invoice in object_list %}
          <tr style="{% cycle 'background: white' 'background: #F0F0F0' %}">
                <td>{{ invoice.created_date|date}}</td>
              <td>{{ invoice.invoiced_party }}</td>
              <td><a href="{% url 'invoice_app:invoice_detail' pk=invoice.pk %}">{{ invoice.description }}</a></td>
          </tr>
      {% endfor %}
    </table>
</div>


<nav aria-label="...">
  <ul class="pager">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}"><strong>Previous</strong></a></li>
    {% endif %}

    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}"><strong>Next</strong></a></li>
    {% endif %}
  </ul>
</nav>

{% endblock content %}
